
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins&family=Staatliches&display=swap');


* {
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background-color: rgb(4, 4, 62);
}

nav {
    display: flex;
    position: sticky;
}

.logo img {
    display: flex;
    height: 41px;
    width: 42px;
    border: 0px;
    border-radius: 25px;
}

.tits{
    display: flex;
    justify-content: flex-start;
    width: 40%;
}

.Title {
    display: flex;
    justify-content: center;
    font-family: 'Staatliches', cursive;
    font-size: 18px;

}

.subtitle {
    font-size: 12px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    display: flex;
    justify-content: right;
    width: 58%;
}

nav ul li {
    list-style: none;
    padding: 10px 38px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li :hover {
    color: rgb(161, 237, 161);
}

.clock {
   
   padding: 5px 0px;
}

#time {
    display: flex;
    justify-content: center;
}

.date {
    color: white;
}


.container {
    min-width: 100%;
    height: 88vh;
    background: linear-gradient(rgba(3, 1, 10, 0.5), rgba(3, 1, 10, 0.5)), url(../img/gallery_bg.jpg) no-repeat scroll center center;
    background-size: cover;
    overflow-y: scroll;
}

.imagesdon{
    display: flex;
    justify-content: space-around;
    margin:  50px 50px;
}
.imagesdon img{
    height: 225px;
    width: 300px;
}

.imagesson{
    display: flex;
    justify-content: space-around;
    margin: 50px 50px;
}

.imagesson img{
    height: 225px;
    width: 300px;
}

footer {
    position: sticky;
    background-color: rgb(4, 4, 62);
    color: white;
   
}
.copy {
    min-height: calc(100vh - 88vh - 6vh);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: sticky;
}
.berger{
    display: none;
    position: absolute;
    right: 5%;
    top: 15px;
    cursor: pointer;
}

.line{
    width: 25px;
    background-color: white;
    height: 2px;
    margin: 3px 3px;
}

.space{
    font-family: 'Tilt Prism', cursive;
    color: white;
    font-size: 60px;
    margin: 0 25px;
}